.actives-page {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 0;
}

.actives-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-section {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.search-filters {
    display: flex;
    gap: 1rem;
}