@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import 'fragments/_navbar.css';
@import 'fragments/_activesPage.css';

:root {
    --bg-color: white;
    --input-color-border: #d7d7d7;
    --tw-shadow: 0 1px 3px 0 rgb(0, 0, 0);
}

#root {
    min-height: 100vh;
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: 20% 1fr;
}

input:not([type = "checkbox"]) {
    color: black;
    outline: none;
    background: transparent;
    border-radius: 5px;
    padding: 0.75rem;
    border: 1px solid var(--input-color-border);
    box-shadow: 0 1px 2px 0 rgb(235, 235, 235);
    transition: border-color .15s ease-in-out;
    font-size: revert;
}

button {
    cursor: pointer;
}

.primary-button {
    background-color: #18181B;
    color: white;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: .5rem 1rem;
    border-radius: calc(0.5rem - 2px);
    transition: background-color 0.2s ,border-color 0.25s;
    box-shadow: var(--tw-shadow);
}

.primary-button:hover {
    background-color: #303034;
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
}