:root {
    --color-main: #071727;
    --color-secondary: #3c6381;
    --pad-input: 1rem;
    
    font-family: 'Geist', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0 solid #e5e7eb;
}

ul, li {
    list-style: none;
}

body {
    min-height: 100vh;
}